html {
  height: 100%;
  font-family: cursive;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  background-color: #ffffff;
}

/* header-wrapper */

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(56, 149, 127);
  padding: 0px;
  margin: 0;
  height: 120px;
}
#header-info {
  flex: 1;
  padding: 0px;
  margin: 0;
  font-size: small;
}
#header-info h1 {
  color: black;
}

#TimeAndDate {
  width: 250px;
}

#clock {
  margin: 20px;
  font-size: larger;
  text-decoration: underline;
  color: blue;
}

#Job-Title a {
  color: black;
}

#my-pictures {
  padding: 10px;
}

#my-pictures img {
  border-radius: 50%;
  border: 3px solid rgb(253, 253, 253);
  width: 100px;
}

/* top-menu-bar */

#top-menu-bar {
  text-align: center;
  background-color: rgb(47, 125, 107);
  margin: 0px;
  padding: 0;
  height: 50px;
  border: 1px solid rgb(11, 11, 11);
  border-radius: 2px;
}

#top-menu-bar li {
  display: inline-block;
  margin: 1px;
  padding: 1px;
  width: 240px;
}

#top-menu-bar a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 12px;
  transition: 0.5s;
  display: block;
  margin: 0;
}

#top-menu-bar a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.32);
  display: block;
}

/* content */

#content {
  flex: 4;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

#side-menu {
  padding: 10px 2px 5px 10px;
  flex: 1;
}

#side-menu section {
  background-color: #fbfbfb78;
  padding: 10px;
  margin: 5px;
  border: 1px solid;
}

#side-menu h2 {
  margin: 10px;
  padding: 10px;
  color: rgba(0, 0, 2, 0.653);
  font-size: x-large;
}

.Email {
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: large;
}
.Email input {
  border-radius: 4px;
  margin-left: 5px;
}

.Name {
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: large;
}

.Name input {
  border-radius: 4px;
  margin-left: 5px;
}

#Contact-Us {
  text-align: right;
}
#Contact-Us button {
  color: rgb(0, 0, 0);

  border-radius: 8px;
  height: 30px;
  width: 80px;
  background-color: rgb(255, 255, 255);
}

/* page */

.page {
  display: none;
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1.6rem;
}
#skills {
  margin: 20px;
}
#skills-list {
  margin: 20px;
}

#projects {
  margin: 20px;
}

#language {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#language table {
  width: 600px;
  height: 200px;
}
#language td {
  margin-left: 20px;
}

/* light */

#TurnOnPhoto {
  display: none;
}
#TurnOn {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(78, 77, 110);
  padding: 8px;
  color: white;
}

#TurnOf {
  border: 1px solid rgb(251, 249, 249);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(78, 77, 110);
  color: rgb(255, 255, 255);
}

/* main */

#main {
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 4;
  border: 1px solid black;
  border-radius: 5px;
  font-size: large;
}

#home h2 {
  font-style: italic;
  text-decoration: underline;
  padding: 10px;
  margin-left: 30px;
  color: rgb(0, 0, 0);
}

#home p {
  margin-left: 30px;
  font-style: italic;
}

/* footer */

.Footer {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(56, 149, 127);
}

.Footer a {
  transition: 0.5s;
  margin: 0;
  padding-right: 60px;
  display: inline-block;
}
.Footer a:hover {
  background-color: rgba(255, 255, 255, 0.32);
}
