html {
  height: 100%;
  font-family: cursive;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  background-color: #ffffff;
}

/* header-wrapper */

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(56, 149, 127);
  padding: 0px;
  margin: 0;
  height: 120px;
}

#header-wrapper h1 {
  margin: 0px;
}

#header-wrapper img {
  border-radius: 50%;
  border: 3px solid rgb(253, 253, 253);
  width: 100px;
}
#header-info {
  flex: 1;
  padding: 0px;
  margin: 0;
  font-size: small;
  color: black;
  margin: 10px;
}
#header-info a {
  color: rgba(79, 2, 2, 0.611);
}

/* Time and Data */

#TimeAndDate {
  margin: 20px;
  font-size: larger;
  text-decoration: underline;
  color: rgba(34, 255, 0, 0.612);
}

/* top-menu-bar */

#top-menu-bar {
  text-align: center;
  background-color: rgb(47, 125, 107);
  margin: 0px;
  padding: 0;
  height: 50px;
  border: 1px solid rgb(11, 11, 11);
  border-radius: 2px;
}

#top-menu-bar li {
  text-align: ce;
  display: contents;
  margin: 1px;
  padding: 1px;
  width: 240px;
}

#top-menu-bar a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 12px;
  transition: 0.5s;
  display: inline-block;
  margin: 0;
}

#top-menu-bar a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.32);
}

/* content */

#content {
  flex: 4;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

#side-menu {
  padding: 10px 2px 5px 10px;
  flex: 1;
}

#side-menu section {
  background-color: #fbfbfb78;
  padding: 10px;
  margin: 5px;
  border: 1px solid;
}

#side-menu h2 {
  margin: 10px;
  padding: 10px;
  color: rgba(0, 0, 2, 0.653);
  font-size: x-large;
}

#Email {
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: large;
}

#UserName {
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: large;
}

#sectione-left-menu input {
  border-radius: 4px;
  margin-left: 5px;
}

#Contact-Us {
  text-align: right;
}
#Contact-Us button {
  transition: 0.5s;
  border-radius: 8px;
  height: 30px;
  width: 80px;
  display: inline-block;
}

#Contact-Us button a:hover {
  display: inline-block;
  margin: 0;
  background-color: green;
}

/* light */

#TurnOnPhoto {
  display: none;
}

#light button {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(78, 77, 110);
  padding: 8px;
  color: white;
}

/* page */
#main {
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 4;
  border: 1px solid black;
  border-radius: 5px;
  font-size: large;
}

.page {
  display: none;
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1.6rem;
}

#home {
  font-style: italic;
  padding: 5px;
  margin: 10px;
}

#home h2 {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

#home p {
  margin: 5px;
  color: red;
}

#skills h2 {
  margin: 10px;
}

#skills-list {
  margin: 10px;
}

#projects {
  margin: 20px;
}

#languages {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

#languages table {
  width: 50%;
  min-width: 200px;
  border-collapse: collapse;
}

#languages th {
  background-color: rgb(211, 245, 196);
  padding: 5px;
}

/* footer */

.Footer {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(56, 149, 127);
}

.Footer a {
  transition: 0.5s;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  display: inline-block;
}
.Footer a:hover {
  background-color: rgba(255, 255, 255, 0.32);
  display: inline-block;
  margin: 0;
}
